<html>
<head>
<!-- <meta name="viewport" content="initial-scale = 0.3,maximum-scale = 0.3" /> -->

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=visualization"></script>
<link rel="stylesheet" href="../static/css/reset.css">
<link rel="stylesheet" href="../static/flatui/bootstrap/css/bootstrap.css">
<!-- Flat UI -->
<link rel="stylesheet" href="../static/flatui/css/flat-ui.css">
<link rel="stylesheet" href="../static/css/style.css">
<link rel="stylesheet" href="work-education.css">
  
</head>
<body>

<header>
  <div class="topColor g"></div>
  <div class="topColor r"></div>
  <div class="topColor o"></div>
  <div class="topColor p"></div>
</header>
<div class="header">
  <h2>Milestone</h2>
</div>

<div class="wrapper search-name">
  <h3>majors & schools</h3>
</div>

<div class="wrapper">
  <h3>majors</h3>
</div>
<canvas id="majors" width="320" height="320"></canvas>

<div class="wrapper">
  <h3>schools</h3>
</div>
<div id="schools">
  <ol>
    <li>Google</li>
    <li>Amazon</li>
    <li>Facebook</li>
    <li>IBM</li>
    <li>Oracle</li>
  </ol>
</div>

<!-- <canvas id="bar" width="320" height="$50"></canvas> -->

<div class="wrapper">
  <h3>Degrees</h3>
</div>
<canvas id="degrees" width="320" height="320"></canvas>

<!-- 
<div class="wrapper">
  <h4>Average Salary</h4>
  <div class="salary">$78,000</div>
</div>
-->
<!--
<div class="wrapper">
  <h3>Locations of people</h3>
</div>
<div id="map-canvas"></div>
-->
  
<script src="chart.js"></script>
<script>
function getRandom(min, max) {
  return Math.floor(Math.random() * (max - min + 1) + min);
}
var colors = ["#1ABC9C", "#2ECC71", "#3498DB", "#9B59B6", "#34495E", "#F1C40F", "#E67E22", "#E74C3C", "#ECF0F1"];
console.log(getRandom(colors.length, 0));
var majorsChartData = {
  labels : ["Node","C#","Java","Scala","Python"],
  datasets : [{
      fillColor : colors[getRandom(colors.length, 0)],
      strokeColor : "rgba(220,220,220,1)",
      pointColor : "rgba(220,220,220,1)",
      pointStrokeColor : "#fff",
      labelColor: "white",
      scaleFontSize: "14",
      data : [65,59,90,81,56]
    }]
}
var barChartData = {
  labels : ["Google","Facebook","Yahoo","Amazon"],
  datasets : [{
    fillColor : colors[getRandom(colors.length, 0)],
    strokeColor : "rgba(220,220,220,1)",
    pointColor : "rgba(220,220,220,1)",
    scaleFontSize: "14",
    data : [65,59,90,81]
  }]
}
var pieData = [{
    value: 30,
    color:"#1ABC9C",
    label: "bachelors",
    labelColor : 'white',
    labelFontSize : '16'
  },
  {
    value : 50,
    color : "#F39C12",
    label: "master",
    labelColor : 'white',
    labelFontSize : '16'
  },
  {
    value : 100,
    color : "#E74C3C",
     label: "phd",
    labelColor : 'white',
    labelFontSize : '16'
}];

var mymajors = new Chart(document.getElementById("majors").getContext("2d")).Bar(majorsChartData);
// var myLine = new Chart(document.getElementById("bar").getContext("2d")).Bar(barChartData);
var myDegrees = new Chart(document.getElementById("degrees").getContext("2d")).Pie(pieData);
</script>
</body>
</html>