<html>
<head>
<!-- <meta name="viewport" content="initial-scale = 0.3,maximum-scale = 0.3" /> -->

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=visualization"></script>
<link rel="stylesheet" href="../static/css/reset.css">
<link rel="stylesheet" href="../static/flatui/bootstrap/css/bootstrap.css">
<!-- Flat UI -->
<link rel="stylesheet" href="../static/flatui/css/flat-ui.css">
<link rel="stylesheet" href="../static/css/style.css">
<link rel="stylesheet" href="work-education.css">
 
</head>
<body>

<header>
  <div class="topColor g"></div>
  <div class="topColor r"></div>
  <div class="topColor o"></div>
  <div class="topColor p"></div>
</header>
<div class="header">
  <h2>Milestone</h2>
</div>

<div class="wrapper search-name">
  <h3>Skills & Companies</h3>
</div>

<div class="wrapper">
  <h3>Skills</h3>
</div>
<canvas id="skills" width="320" height="320"></canvas>

<div class="wrapper">
  <h3>Companies</h3>
</div>
<div id="companies" class="list">
  <ol>
    <li>Google</li>
    <li>Amazon</li>
    <li>Facebook</li>
    <li>IBM</li>
    <li>Oracle</li>
  </ol>
</div>

<!-- <canvas id="bar" width="320" height="$50"></canvas> -->

<div class="wrapper">
  <h3>Previous Positions</h3>
</div>
<canvas id="titles" width="320" height="320"></canvas>

<!-- 
<div class="wrapper">
  <h4>Average Salary</h4>
  <div class="salary">$78,000</div>
</div>
-->
<!--
<div class="wrapper">
  <h3>Locations of people</h3>
</div>
<div id="map-canvas"></div>
-->
  
<script src="chart.js"></script>
<script src="work-education-data.js"></script>
</body>
</html>