/**/
/* Classes */
/**/

html, body {
	height: 100%;
}

/* Generic */
.left {
	float: left;
}
.right {
	float: right;
}
.noselect {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;

	cursor: move;
	cursor: -moz-grab;
	cursor: -webkit-grab;
}

/* Layout */
.contentPadding {
	position: relative;
	height: 100%;
	text-align: center;
	margin: 15px;
}
.dataContent {
	padding: 60px 0;
}
.person {
	position: relative;
}
.header {
	background-color: #1abc9c;
	padding: 5px 0;
	color: white;
	border-radius: 4px;
}

/* Search */
.homeHeader {
	margin: 0;
	padding: 0;
}
.searchArea {
	position: absolute;
	top: 50%;
	width: 100%;
}
.searchForms {
	width: 100%;
}
.searchbar {
	display: inline;
	width: 75%;
}
.searchButton {
	width: 20%;
}

/* Navbar */
.navigation {
	width: 100%;
}
.navbutton {
	width: 32%;
}

/* Person pic */
.person {
	text-align: center;
	width: 100%;
}

li button {
	margin-top: 10px;
}

.profile_pic {
	border-radius: 200px;
	overflow: hidden;

	margin-left: auto;
	margin-right: auto;
}
.profile_pic img {
	width: 100%;

	display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Card */
.cards {
	position: relative;
}
.card {
	top: 0;
	left: 0;
	width: 100%;
	clear: both
}

#next-steps {

}

#next-steps ul li {
	list-style-type: decimal;
}

#next-steps img {
	max-width: 100%;
}

	/* Rotate card*/
	.rotateleft, .rotateright {
	  transition: transform .5s ease-out;
	  transition: -ms-transform .5s ease-out;
	  transition: -webkit-transform .5s ease-out;
	}

	.rotateleft {
	  transform: rotate(-3deg);
	  -ms-transform: rotate(-3deg);
	  -webkit-transform: rotate(-3deg);
	}
	.rotateright {
	  transform: rotate(3deg);
	  -ms-transform: rotate(3deg);
	  -webkit-transform: rotate(3deg);
	}

/* Header */

header {
	width: 100%;
	height: 15px;
}
	.topColor {
		float: left;
		width: 25%;
		height: 100%;
	}
	.r {
		background-color: rgb(253, 110, 110);
	}
	.r:hover, .r:active, .r:focus {
		background-color: rgb(255, 130, 130);
	}
	.p {
		background-color: rgb(203, 150, 238);
	}
	.p:hover, .p:active, .p:focus {
		background-color: rgb(213, 170, 243);
	}
	.o {
		background-color: rgb(255, 172, 151);
	}
	.o:hover, .o:active, .o:focus {
		background-color: rgb(255, 182, 171);
	}
	.g {
		background-color: rgb(58, 227, 158);
	}

h1 {
	font-size: 35px;
}
h2 {
	font-size: 30px;
}
h3 {
	font-size: 25px;
}

.space {
    margin-top: 20px;
}

/* List */
.lists {
	margin-left: 20px;
	margin-right: 20px;
}

.lists button {
	margin-top: 10px;
}

	.progress {
		margin-left: 20px;
		margin-right: 20px;
		margin-bottom: 0;
		margin-top: 0;
	}

	.progressTitle {
		text-align:left;
		padding-left:30px;
		margin: 0;
		text-transform:capitalize;
	}

	.skills {
		overflow: hidden;
	}

	.skills li {
		float: left;
		margin-right: 10px;
	}

	/* Table list*/
	.tableDiv {
		border-radius: 4px;
		overflow: hidden;
		margin-bottom: 10px;
	}
		.tableDiv ol {
			margin-bottom: 0;
		}
		ol li {
			padding: 10px;
			color: white;
			clear: both;
			overflow: hidden;
		}
		ol li:nth-child(odd).primary {
			background-color: #1ABC9C;
		}
		ol li:nth-child(even).primary {
			background-color: #16A085;
		}
		ol li:nth-child(odd).danger {
			background-color: #E74C3C;
		}
		ol li:nth-child(even).danger {
			background-color: #C0392B;
		}

	/* Tooltip */
	.tooltip {
		margin-left: calc(100% - 60px);
		margin-top: -70px !important;
	}
	.tooltip-inner {
		width: inherit;
	}
