* {
  -webkit-box-sizing: border-box;
  -moz-box-sigin: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.blue {
  color: white;
}

.search-results {
  width: 320px;
  margin: 0 auto;
}

canvas {
  margin-left: -36px;
}
.wrapper {
  border-top: .5px solid #eee;
}

.wrapper > * {
  margin: 0 auto;
  max-width: 320px;
}

#majors {
}
#bar {
  padding-top: 10px;
}
#map-canvas {
  height: 160px;
}
.list ol li {
  color: #34495e;
  padding: 0 10px;
  text-align: left;
  overflow: visible;
  list-style-type: lower-hexadecimal;
  margin-left: 20px;
}

.salary {
  text-align: center;
  font-size: 75px;
  font-family: Georgia;
}

.header {
  background-color: #333;
}

.header h2 {
  padding: 7px 0;
  color: white;
}

.search-name {
  box-shadow: 0px 9px 8px -9px #eee;
  padding-left: 10px;
  background-color: #3498DB;
  border-radius:4px;
  margin-top: 15px;
  width: 87%;
}
.search-name h3 {
  text-align: left;
  color: white;
}