* {
  -webkit-box-sizing: border-box;
  -moz-box-sigin: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.blue {
  color: white;
}

/*.wrapper {
  text-align: center;
  padding-top: 15px; padding-bottom: 10px;
  border-top: .5px solid #eee;
}
*/
.wrapper > * {
  margin: 0 auto;
  max-width: 320px;
}

.list ol li {
  color: #34495e;
  padding: 0 10px;
  text-align: left;
  overflow: visible;
  list-style-type: lower-hexadecimal;
  margin-left: 20px;
}