<h2 class="header">Education</h2>

<h3>Majors</h3>
{{#each majors}}
<p class="progressTitle">{{name}}</p>
<div class="progress">
	<div class="progress-bar progress-bar-primary" style="width: {{percent}}%;"></div>
</div>
{{/each}}

<div class="content">
  <h3>Schools</h3>
</div>

<div id="schools" class="list">
<div class="content">
  <ol>
    {{#each schools}} <li>{{name}}</li> {{/each}}
  </ol>
</div>
</div>

<h3>Degrees</h3>
<canvas id="degrees" width="250" height="250"></canvas>