<!doctype html>
<html ng-app>
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src="https://c9.io/asimov4/milestonegsy/workspace/data/data.js"></script>
    <script>
        function TodoCtrl($scope) {
          $scope.topHits = {};
          $scope.aggregatedResults = [];
          
          function searchArk(keyword,limit) {
              $.ajax({
                url:"https://testapi.ark.com/strong-search?raw.headline=" + keyword,
                type: "GET",
                headers: {api_token: "446fbc1c-29c9-46a0-be25-3d77f1538a68",
index: "li_idx",
                page: limit,
                size: 500},
                timeout: 50000,
                complete: function() {
                  //called when complete
                  console.log('process complete');
                },

                success: function(data) {
                  $scope.aggregatedResults = $scope.aggregatedResults.concat(data.results);
                  if (limit > 0) {
                    searchArk(keyword,limit-1);
                  }
                },

                error: function() {
                  console.log('process error');
                }
            
            });
          }
          
          function getPropByString(obj, propString) {
    
              if (!propString) return obj;
            
              var prop, props = propString.split('.');
            
              for (var i = 0, iLen = props.length - 1; i < iLen; i++) {
                prop = props[i];
            
                if (typeof obj == 'object' && obj !== null && prop in obj) {
                  obj = obj[prop];
                } else {
                  break;
                }
              }
              return obj[props[i]];
            }
          
          function extractTopValues(jsonPath,field,bigjsonblob) {

                var aggregate = {};
                $.each(bigjsonblob,function(i,result) { 
                   var value = getPropByString(result,jsonPath);
                   if (!(value in aggregate)) {
                      aggregate[value] = 1;
                   } else {
                      aggregate[value] ++;
                   }
                });
                
                var topValues = [];
                $.each(aggregate,function(i,e) { 
                   topValues.push({name: i, count: e});
                });
                
                topValues = topValues.sort(function(a,b) { return b.count - a.count});
                
                $scope.topHits[field] = topValues;
          }
         
          $scope.addTodo = function() {
            extractTopValues("raw.industry","industries",$scope.aggregatedResults);
            extractTopValues("raw.location","location",$scope.aggregatedResults);
          };
          
        $scope.getData = function() {
            $scope.aggregatedResults = [];
            searchArk("ceo",0);
          };
        }
                
    </script>
    <link rel="stylesheet" href="todo.css">
  </head>
  <body>
    <h2>Todo</h2>
    <div ng-controller="TodoCtrl">
      <ul class="unstyled" ng-repeat="class in topHits">
        <li ng-repeat="hit in class">
          <span>{{hit.name}} {{hit.count}}</span>
        </li>
      </ul>
      <form ng-submit="addTodo()">
        <input class="btn-primary" type="submit" value="Process">
      </form>
      <form ng-submit="getData()">
        <input class="btn-primary" type="submit" value="Get Data">
      </form>
      {{aggregatedResults.length}}
    </div>
  </body>
</html>