<!doctype html>
<html ng-app>
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src="https://c9.io/asimov4/milestonegsy/workspace/data/data.js"></script>
    <script>
        function TodoCtrl($scope) {
          $scope.topHits = {};
          
          function getPropByString(obj, propString) {
    
              if (!propString) return obj;
            
              var prop, props = propString.split('.');
            
              for (var i = 0, iLen = props.length - 1; i < iLen; i++) {
                prop = props[i];
            
                if (typeof obj == 'object' && obj !== null && prop in obj) {
                  obj = obj[prop];
                } else {
                  break;
                }
              }
              return obj[props[i]];
            }
          
          function extractTopValues(jsonPath,field) {
            var bigjsonblob = window.bigjsonblob;
            // Industry
            var aggregate = {};
            $.each(bigjsonblob.results,function(i,result) { 
               var value = getPropByString(result,jsonPath);
               if (!(value in aggregate)) {
                  aggregate[value] = 1;
               } else {
                  aggregate[value] ++;
               }
            });
            
            var topValues = [];
            $.each(aggregate,function(i,e) { 
               topValues.push({name: i, count: e});
            });
            
            topValues = topValues.sort(function(a,b) { return b.count - a.count});
            
            $scope.topHits[field] = topValues;
          }
         
          $scope.addTodo = function() {
            extractTopValues("raw.industry","industries");
            extractTopValues("raw.location","location")
          };
        }
                
    </script>
    <link rel="stylesheet" href="todo.css">
  </head>
  <body>
    <h2>Todo</h2>
    <div ng-controller="TodoCtrl">
      <ul class="unstyled" ng-repeat="class in topHits">
        <li ng-repeat="hit in class">
          <span>{{hit.name}} {{hit.count}}</span>
        </li>
      </ul>
      <form ng-submit="addTodo()">
        <input class="btn-primary" type="submit" value="Process">
      </form>
    </div>
  </body>
</html>